body {
	display: flex;
    background-color: #20222f;

}

.mainBloc {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-family: Inter;
	margin-bottom: -12px;
	margin-top: 0px;
}

p {
	color: white;
	opacity: 50%;
}

.darkmode {
	color: white;
	font-size: 17px;
	font-family: Inter;
	position: relative;
	top: 10px;
	left: 610px;
}

.switch {
  position: relative;
  display: inline-block;
  height: 15px;
  width : 36px;
  top: 13px;
  left: 1290px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: .5px;
  height: 15px;
  width: 15px;
  bottom: 4px;
  background-color: #313b54;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.blocligne2 {
	width: 260px;
	height: 230px;
	background-color: #252b43;
	margin: 10px;
	border-style: solid;
	border-color: #20222f;
}

.blocligne45 {
	width: 260px;
	height: 115px;
	background-color: #252b43;
	margin: 10px;
	border-style: solid;
	border-color: #20222f;
}

.ligne1 {
	display: flex;
	margin-left: 10px;
}

.ligne2 {
	display: flex;
	flex:2;
	flex-direction: row;
}

.ligne3 {
	font-family: Inter;
	margin-bottom: 23px;
	margin-left: 10px;
}

.ligne4 {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
}

.ligne5 {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
}

.abonnéscolonne1 {
	color: white;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 40px;
	left: 65px;
}

.abonnés11K {
	color: white;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 40px;
	left: 80px;
}

.soustitrecolonne1 {
	color: white;
	opacity: 50%;
	font-family: Inter;
	letter-spacing: 4px;
	position: relative;
	top: 45px;
	left: 60px;
}

.iconcolonne1 {
	position: relative;
	top: 30px;
	left: 75px;
	transition: transform ease-in-out .5s;
}

.iconcolonne1:hover {
	transform: scale(1.1) rotate(50deg);
}

.pseudocolonne1 {
	color:white;
	opacity: 50%;
	font-family: Inter;
	font-size: 12px;
	position: relative;
	top: 25px;
	left: 80px;
}

.texteupdown123 {
	color:#429c90;
	font-family: Inter;
}

.texteupdown4 {
	color:#b44953;
	font-family: Inter;
}

.texteupdown123, .texteupdown4, .updowncolonne1 {
	position: relative;
	top: 75px;
	left: 85px;
	font-size: 12px;
}

.bloc1 {
	border-top: #1690f5;
	border-style: solid;	
}

.bloc2 {
	border-top: #1690f5;
	border-style: solid;
}

.bloc3 {
	border-top: #1690f5;
	border-style: solid;
}

.bloc4 {
	border-top: #a21235;
	border-style: solid;
}

.texteupdown578910 {
	color:#429c90;
}

.texteupdown61112 {
	color:#a21235;
}

.texteupdown61112, .texteupdown578910, .updowncolonne2 {
	position: relative;
	top: 63px;
	left: 165px;
	font-size: 12px;
}

.iconcolonne2 {
	position: relative;
	top: 10px;
	left: 210px;
	transition: transform ease-in-out .5s;
}

.iconcolonne2:hover {
	transform: scale(1.1) rotate(50deg);
}

.abonnéscolonne2 {
	color: white;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	top: 40px;
}

.pseudocolonne2 {
	color:white;
	opacity: 50%;
	font-family: Inter;
	font-size: 14px;
	position: relative;
	top: 15px;
	margin-left: -50px;
}





